<h1><%= @cocktail.name %></h1>
      <table>
        <tbody>
          <tr>
            <th scope="row">Name</th>
            <td><%= @cocktail.name %></td>
          </tr>
        </tbody>
      </table>
